*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    align-items: center;
}

nav{
    background-color:rgba(0, 0, 0, 0.726);
    color: white;
    height: 80px;
    width: 100%; 
}

main{
    margin-top: 35px;
}

footer{
    background-color:rgba(0, 0, 0, 0.726);
    padding: 10px;
    color: white;
}

img{
    color: white;
}


